.nav {
  display: flex;
  justify-content: space-around;
  margin: 40px 0px;
}

.nav > li {
  min-width: 30%;
  text-align: center;
}

.nav > li > p {
  display: block;
  border-radius: 26px;
  border: 2px solid #ccc;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 10px;
  height: 52px;
  line-height: 56px;
  cursor: pointer;
}

.nav > li.active > p,
.nav > li > p:hover {
  color: #fff;
  background: #4494d1;
  border-color: #4494d1;
}
