.header {
  border: 2px solid rgb(173, 173, 255);
  background-color: rgb(238, 238, 255);
  /* justify-content: center; */
  /* align-items: center; */
}
.header-page {
  width: 80%;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header-page__logo {
  width: 15%;
}

.header-page-navbar {
  width: 70%;
  justify-content: center;
  align-items: center;
}
.header-page-navbar__ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-page-navbar__ul li {
  margin-left: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
}
.header-page-navbar__ul li:hover {
  background-color: rgb(238, 238, 255);
  border: 2px solid rgb(173, 173, 255);
  color: rgb(173, 173, 255);
  padding: 5px;
  border-radius: 15px;
  transition: 0.5s;
}
